li.esta-item{
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.esta-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.esta-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.esta-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span{
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}
li.esta-item p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    margin: 20px 0px;
}
li.esta-item a{
    font-size: 14px;
    color: #00cc7a;
    text-decoration: none;
}
li.esta-item a:hover{
    color: #00804d;
}
@media(max-width: 650px){
    main ul{
        grid-template-columns: 1fr;
    }
}